.timer {
  height: var(--size-xxxl);
  width: var(--size-xxxl);
  line-height: var(--size-xxxl);
  border-radius: 50%;
  color: #fff;
  position: relative;
  left: 45%;
  background: var(--color-brand-2);
}
